<%= turkee_form_for(@image_moderation, params) do |f| %>

  <p>
    Look at the image below and click 'inappropriate' if you see an image with any of the following criteria, otherwise click OK.
  </p>

  <hr>

  <%= image_tag @image.image_path, align: 'left', vspace: 10, hspace: 10 %>

  <%= f.hidden_field :image_id, value: @image.id %>

    <% [ImageModeration::INAPPROPRIATE, ImageModeration::OK].each do |option| %>
      <%= option %>
      <%= f.radio_button :choice, option %>
    <% end %>

  <div class="actions">
    <%= f.submit 'Submit', disabled: @disabled %>
  </div>

<% end %>
