<h1>Fanpop Image Moderation</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.image_path, width: 100 %></td>
        <td>
          <%= image.state %>
        </td>
        <td>
          <%= link_to 'Manual Approve', approve_image_path(image) %> |
          <%= link_to 'Manual Reject', reject_image_path(image) %> |
          <%= link_to 'Edit', edit_image_path(image) %> |
          <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
